<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'index' %}">Рога и Копыта</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Items
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'item_list' %}">List of items</a></li>
            {% if user.is_authenticated %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'create-item' %}">Add new item</a></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            {% endif %}
        </ul>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
    </nav>
    <div class="btn-group dropstart">
        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
            User
        </button>
        <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign Out</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="#">Sign In</a></li>
                    <li><a class="dropdown-item" href="#">Registration</a></li>
                {% endif %}
        </ul>
    </div>
</div>