{% extends 'base.html' %}

{% load static %}

{% if next %}
  {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
  {% else %}
      <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

{% block content %}
    <form class="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'img/signin.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">User name</label>
        <input id="username" class="form-control" placeholder="User name" name="username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
        <div class="password-reset-link mb-2" style="float: left;">
            <a href="{% url 'password_reset' %}">Reset password</a>
        </div>
        <div class="signup mb-3">
            <a href="{% url 'sign-up' %}">Sign Up</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
