{% extends 'base.html' %}

{% load static %}

{% block content %}
    <form class="form" action="{% url 'sign-up' %}" method="post">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'img/signin.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <label class="sr-only" for="id_username">User name</label>
        <input class="form-control" name="username" maxlength="150" placeholder="User name" autofocus required
               id="id_username">
        <label class="sr-only" for="id_password1">Password:</label>
        <input class="form-control" type="password" name="password1" placeholder="Password" required id="id_password1">
        <label class="sr-only" for="id_password2">Password confirmation:</label>
        <input class="form-control" type="password" name="password2" placeholder="Repeat password" required id="id_password2">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{#    {% csrf_token %}#}
{#    {{ form.as_ul }}#}

{% endblock %}