{% extends 'base.html' %}

{% load main_tags %}
{% load main_filters %}
{% load thumbnail %}

{% block nav_bar %}{% include 'main/nav_bar.html' %}{% endblock %}

{% block title %}Item list{% endblock %}

{% block content %}
    <h1>Item list</h1>
    {% if itemmodel_list %}
        {% for item in itemmodel_list %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% thumbnail item.image 'default' %}" alt="img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ item.get_absolute_url }}">{{ item.short_name }}</a>
                            </h5>
                            <p class="card-text">{{ item.description | safe | truncatewords:8 }}</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <strong>Price:</strong> {{ item.price }} {{ item.currency }}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}