{% extends 'base.html' %}

{#{% load main_tags %}#}
{#{% load main_filters %}#}
{% load thumbnail %}

{% block title %}{{ itemmodel.short_name }}{% endblock %}

{% block content %}
    <h2>{{ itemmodel.short_name }}</h2>
    <img class="" src="{% thumbnail itemmodel.image 'avatar' %}">
    <div class="mt-3">
        <a class="btn btn-secondary mb-3" href="{% url 'item_list' %}">Back to list</a>
        {{ itemmodel.description | safe }}
    </div>
    {% for copy in itemmodel.additionalimage_set.all %}
        <div style="margin-bottom: 10px;">
            <img class="additional-image" src="{% thumbnail copy.image 'image' %}">
        </div>
    {% endfor %}
{% endblock %}
